:root {
  --font-name: 'IBM Plex Mono', monospace;
  --font-sm: 16px;
  --font-md: 32px;
  --font-lg: 48px;

  --max-width: 900px;
}

html,
body {
  width: 100vw;
  height: 100vh;
  background-color: white;
  font-family: var(--font-name);
  font-size: var(--font-sm);
}

.sizer {
  max-width: var(--max-width);
  background-color: red;
}

.content {
  width: round(down, 100%, 1ch);
  /* padding: 0 2ch;  */
  background-color: aqua;
}

h1 {
  font-size: var(--font-lg);
}

h2 {
  font-size: var(--font-md);
}

h3, h4, h5, h6 {
  font-size: var(--font-sm);
}
