body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: var(--font-lg);
}

h2 {
  font-size: var(--font-md);
}

.grid {
  position: relative;
  display: grid;
  width: var(--grid-width);
  height: var(--grid-height);

  font-family: var(--font);
  font-size: var(--font-sm);

  grid-template-rows: repeat(auto-fill, 1em);
  grid-template-columns: repeat(auto-fill, 1ch);

  background-color: rgba(38, 230, 255, .25);
}

.content {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  padding: 1em 2ch;
}

@media (max-width: 768px) {
  .grid {
    min-height: 80vh;
  }
}