:root {
  --font-name: 'IBM Plex Mono', monospace;
  --font-size: 16px;
  --line-height: 1.25;
  --max-width: 900px;
}

html,
body {
  width: 100vw;
  height: 100vh;
  background-color: white;
  font-family: var(--font-name);
  font-size: var(--font-size);
  line-height: var(--line-height);
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: var(--font-size);
}

img {
  max-height: 90vh;
}

.sizer {
  max-width: var(--max-width);
  height: 100%;
  margin: 0 auto;
}

.main {
  --width-discrete: round(down, 100%, 1ch);
  width: var(--width-discrete);
  min-height: 100%;
  border-left: thin solid black;
  padding-left: 2ch;
  padding-right: calc(2ch - (100% - var(--width-discrete)));
  padding-bottom: 3em;
}

.header {
  width: 120vw;
  line-height: 1;
  font-weight: 700;
  margin-left: calc(-60vw + 50%);
  padding-left: calc(60vw - 50%);
  padding-top: 8vh;
  padding-bottom: 2ch;
  border-bottom: thin solid black;
}

.content {
  padding-top: 2ch;
}

@media (max-width: 900px) {
  .main {
    border: none;
  }
}

