body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-rows: repeat(auto-fill, 16px);
  grid-template-columns: repeat(auto-fill, 1ch);
  width: var(--grid-width);
  height: var(--grid-height);
  font-family: var(--font);
  font-size: var(--font-sm);
  background-color: rgba(38, 230, 255, .25);
}



@media (max-width: 768px) {
  .grid {
    min-height: 80vh;
  }
}